
# Production postgres connection string for duplicating prod DB state in boot script. If connection hangs, likely due to firewall permissioning on GCP DB instance.
PRODUCTION_POSTGRES_CONNECTION_STRING=x
LOCAL_POSTGRES_CONNECTION_STRING=x

# Migration execution.
OLD_CHAIN_RPC=https://rpc.berachain.com
NEW_CHAIN_RPC=https://forno.celo.org
OLD_TOKEN=0x881cad4f885c6701d8481c0ed347f6d35444ea7e
NEW_TOKEN=x
MIGRATION_DB_CONNECTION_STRING=x
MIGRATION_DB_PONDER_SUFFIX=migration_ponder
MIGRATION_DB_APP_SUFFIX=migration_app
CONTRACT_DEPLOYER_PRIVATE_KEY=x
WALLET_DEPLOYER_PRIVATE_KEY=x
DISTRIBUTOR_PRIVATE_KEY=x
ACCOUNT_FACTORY_ADDRESS=0x7cC54D54bBFc65d1f0af7ACee5e4042654AF8185
