
# Production postgres connection string for duplicating prod DB state in boot script. If connection hangs, likely due to firewall permissioning on GCP DB instance.
PRODUCTION_POSTGRES_CONNECTION_STRING=x
LOCAL_POSTGRES_CONNECTION_STRING=x